<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_arg85">
  <xacro:include filename="$(find franka_description)/end_effectors/robotiq_arg85/robotiq_arg85.xacro"/>
  <xacro:include filename="$(find franka_description)/end_effectors/robotiq_arg85/robotiq_arg85_arguments.xacro"/>

  <xacro:robotiq_arg85 connected_to="$(arg special_connection)"
                       robot_type="$(arg robot_type)"
                       ee_id="$(arg ee_id)"
                       rpy_ee="$(arg rpy_ee)"
                       xyz_ee="$(arg xyz_ee)"
                       tcp_xyz="$(arg tcp_xyz)"
                       tcp_rpy="$(arg tcp_rpy)"
                       safety_distance="$(arg safety_distance)"
                       gazebo="$(arg gazebo)"
                       description_pkg="$(arg description_pkg)"
                       with_sc="$(arg with_sc)">
  </xacro:robotiq_arg85>

</robot>
